﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DailyExercise</title>
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/form-elements.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="~/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body background="~/assets/img/backgrounds/1.jpg">
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Daily Exercise</strong>  </h1>
                        <div class="description">
                            <p>
                                <h3> <strong>Registrate Saloon</strong></h3>
</p>
                        </div>
                    </div>
                </div>

                <div class="center-div">
                    <div class="col-sm-5">

                        <div class="form-bottom">
                            @using (Html.BeginForm("Registrate", "Home"))
                            {
                                <p>
                                    Date
                                </p>
                                <div class="form-group">
                                    <label class="sr-only" for="form-date">Date</label>
                                    <input type="date" name="date" placeholder="Date..." class="form-date form-control" id="form-user-name">
                                </div>
                                <p>
                                    Start
                                </p>
                                <div class="form-group">
                                    <label class="sr-only" for="form-start">Start</label>
                                    <input type="time" name="start" placeholder="Start..." class="form-start form-control" id="form-start">
                                </div>
                                <p>
                                    End
                                </p>
                                <div class="form-group">
                                    <label class="sr-only" for="form-end">End</label>
                                    <input type="time" name="end" placeholder="End..." class="form-end form-control" id="form-end">
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="form-about-yourself">Additionally</label>
                                    <textarea name="yourself" placeholder="About Additionally..."
                                              class="form-about-yourself form-control" id="form-about-yourself"></textarea>
                                </div>
                                <button type="submit" class="btn">Registrate</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">
                    <div class="footer-border"></div>
                    <p>Copyright &copy; Daily Exercise</p>
                </div>

            </div>
        </div>
    </footer>
    <!-- Javascript -->
    <script src="~/Content/js/grayscale.js"></script>
    <script src="~/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.backstretch.min.js"></script>
    <script src="~/assets/js/scripts.js"></script>

    <!--[if lt IE 10]>
        <script src="~/assets/js/placeholder.js"></script>
    <![endif]-->
</body>
</html>